.node {
    width: var(--node-size);
    height: var(--node-size);
    background-color: var(--grid-bg);
    border: 1px solid rgb(175, 216, 248, 0.1);
    display: inline-block;
}

.node-finish {
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
}

.node-start {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.node-wall {
    background-color: var(--wall-color);
    border: 1px solid var(--wall-color);
    animation: wallAnimation 0.3s ease-out forwards;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(17, 104, 217, 0.75);
    }

    100% {
        transform: scale(1);
        background-color: rgba(0, 190, 218, 0.75);
    }
}

.node-shortest-path {
    animation-name: shortestPathAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPathAnimation {
    0% {
        transform: scale(0.6);
        background-color: rgb(255, 254, 106);
    }

    100% {
        transform: scale(1);
        background-color: rgb(255, 254, 106);
    }
}

@keyframes wallAnimation {
    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}